html,
body,
#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
body{  
		margin:0px;
		font: normal 12px/20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		color: black;
		background:#fff;
}

* html{
		margin:0;
    padding:0;
		}
.leaflet-container {
  cursor: crosshair;
}
  
table {
  border-collapse: collapse;
}
  
th {
  text-align: center;
  font-weight: bold;
  color: darkblue;
   background-color: rgb(193, 205, 186);
}
  
th, td {
  padding : 0px 10px 0px 10px t r b t;
  border : 0.5px solid grey;
}
